#![enable(implicit_some)]
// Mad Dummy turn — Cotton: Bottom Wave
(chapters: [
    DanmakuPerformance(
        performance: "states/battle/danmaku/cotton_bottom_wave.performance.ron",
        translation: (0.0, 50.0),
    ),
])
