#![enable(implicit_some)]
// Mad Dummy turn — Cotton: Surround Attack
(chapters: [
    DanmakuPerformance(
        performance: "states/battle/danmaku/cotton_surround.performance.ron",
        translation: (0.0, 50.0),
    ),
])
