#![enable(implicit_some)]
// Mad Dummy turn — Cotton: Top Sweep
(chapters: [
    DanmakuPerformance(
        performance: "states/battle/danmaku/cotton_top_sweep.performance.ron",
        translation: (0.0, 50.0),
    ),
])
