#![enable(implicit_some)]
(
    sprite_source: "overworld",
    states: {
        "Idle": Directional(
            up: "frisk_idle_up",
            down: "frisk_idle_down",
            left: "frisk_idle_left",
            right: "frisk_idle_right",
        ),
        "Walk": Directional(
            up: "frisk_walk_up",
            down: "frisk_walk_down",
            left: "frisk_walk_left",
            right: "frisk_walk_right",
        ),
        "Run": Directional(
            up: "frisk_run_up",
            down: "frisk_run_down",
            left: "frisk_run_left",
            right: "frisk_run_right",
        ),
    }
)
