#![enable(implicit_some)]
// Mad Dummy turn — Cotton: Surround Attack (type2=1)
// UT turntimer=240 (8s)
(chapters: [
    SetViewElement(
        selector: LocalName("BattleBox"),
        target: BoxSize(to: (130, "@current")),
        duration: 0.85,
        easing: InOutQuad,
        wait_for_completion: false,
    ),

    DanmakuPerformance(
        performance: "battle/danmaku/cotton_surround.performance.ron",
        translation: (0.0, 50.0),
    ),

    SetViewElement(
        selector: LocalName("BattleBox"),
        target: BoxSize(to: (566, 130)),
        duration: 0.6,
        easing: InOutQuad,
        wait_for_completion: false,
    ),
])
