#![enable(implicit_some)]
(
    chapters: [
        LoadMap(
            path: "assets/maps/ruins/ruins_3.tmx",
            generate_collision: true,
            process_objects: true,
            setup_camera_bounds: true,
        ),
        SetPlayer(Spawn(config_path: "overworld/players/player_behavior.ron")),
    ],
)
